<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuitePWCM">
  <test name="TestPWCM">
    <classes>
      <class name="com.dakinfotecz.pwcm.Sprint108"/>
      <class name="com.dakinfotecz.pwcm.Sprint110"/>
      <class name="com.dakinfotecz.pwcm.Openreports"/>
    </classes>
  </test> <!-- TestPWCM -->
</suite> <!-- SuitePWCM -->
